doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    title 1337 Protocol
body.has-text-centered
  section.hero.is-fullheight.is-light.is-bold
    .hero-head
      .container
        p A cyberwarfare MMORTS
    .hero-body
      .container.has-text-centered
        h1.title.is-1.is-light 1337 Protocol #{user}
        .column.is-4.is-offset-4
          form(action='/users/sendtoken', method='POST')
            input(type="hidden" name="_csrf" value="#{csrfToken}")
            p.control.is-grouped
              input(class="input is-info" name="user" type="email" placeholder="Email")
              p &nbsp; 
              input(class="button is-dark" type="submit" value="Login via Email")
    .hero-footer
      .container
        p Made with <3 by Infinity Inc
