doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    #play
      block content
    script(src='javascripts/vue.js')
    script(src='javascripts/ajax.js')
    block script
