extends layout
block head
  title Net hack
block content
  section.hero.is-fullheight.is-light.is-bold
    .hero-head
      .container
        p A cyberwarfare MMORTS
    .hero-body
      .container.has-text-centered
        h1.title.is-1.is-light Welcome confederate 
        //- p Welcome to Net hack
        .column.is-4.is-offset-4
          form(action='/users/sendtoken', method='POST')
            p.control.is-grouped
              input(class="input" name="user" type="email" placeholder="Email")
              p &nbsp; 
              input(class="button is-dark" type="submit" value="Login via Email")
        p 
    .hero-footer
      .container
        p Allahu Akbar
