extends layout
block head
  title 1337 Protocol
block content
  #term
    #screen 
      p Welcome #{user}
      p(v-for="hue in screen") {{ hue.text }}
    p >
      input.input(autofocus type="text" v-model="message" v-on:keyup.enter="command")



block script  
  script(src='socket.io/socket.io.js')
  script(src='javascripts/welcome.js')
  

