extends layout
block head
  title 1337 Protocol
block content
  //- p Sexy and you know it
  //- script(src='http://code.jquery.com/jquery-3.1.0.min.js')
block script  
  script(src='javascripts/welcome.js')

